<div class="panel-heading">
    <h4>Current Auction</h4>
</div>
<div class="panel-body">
    <p class="label">Seller: <span class="value strong">The Seller Name</span></p>
    <p class="label">Time left: <span class="lowercase strong">90 seconds</span></p>
    <p class="label">Winning bid: <span class="value strong">108</span></p>
    <input type="number" class="block spacer" min="1" max="500" />
    <button class="primary-btn green-btn block"><i class="fa fa-money fa-lg white icon-spacing"></i>Place Bid</button>
</div>
