<div class="container">
    <div class="signin-form">
        <h4>Crossover Project</h4>
        <div class="form-field">
            <div class="column">
                <i class="fa fa-user fa-lg gray-1"></i>
            </div>
            <div class="column">
                <input type="text" placeholder="username" class="full" ng-model="loginCtrl.userName" />
            </div>
        </div>
        <div class="form-field">
            <div class="column" ng-if="loginCtrl.inValid">
                <div class="link font-13">Should contain atleast 3 characters</div>
            </div>
        </div>
        <div class="form-field align-right">
            <button class="primary-btn full" ng-click="loginCtrl.loginBtn(loginCtrl.userName)">ENTER</button>
        </div>
    </div>
</div>
