<div class="panel-heading">
    <h4>Inventory</h4>
</div>
<div class="panel-body widget-2">
    <ul>
        <li class="item">
            <div class="column valign-top">
                <i class="fa fa-laptop fa-3x"></i>
                <!-- replace with img HTML tag -->
                <p class="item-name">Item name</p>
            </div>
            <div class="column valign-top">
                <p class="label">Quantity</p>
                <p class="quantity">250</p>
            </div>
            <div class="column valign-middle">
                <button class="primary-btn">Auction</button>
            </div>
        </li>
        <li class="item">
            <div class="column valign-top">
                <i class="fa fa-laptop fa-3x"></i>
                <!-- replace with img HTML tag -->
                <p class="item-name">Item name</p>
            </div>
            <div class="column valign-top">
                <p class="label">Quantity</p>
                <p class="quantity">250</p>
            </div>
            <div class="column valign-middle">
                <button class="primary-btn">Auction</button>
            </div>
        </li>
        <li class="item">
            <div class="column valign-top">
                <i class="fa fa-laptop fa-3x"></i>
                <!-- replace with img HTML tag -->
                <p class="item-name">Item name</p>
            </div>
            <div class="column valign-top">
                <p class="label">Quantity</p>
                <p class="quantity">250</p>
            </div>
            <div class="column valign-middle">
                <button class="primary-btn">Auction</button>
            </div>
        </li>
    </ul>
</div>
