<div class="panel-heading">
    <h4>Inventory</h4>
</div>
<div class="panel-body widget-2">
    <ul ng-repeat="item in inventoryCtrl.inventoryItems">
        <li class="item">
            <div class="column valign-top">
                <i class="fa fa-laptop fa-3x"></i>
                <!-- replace with img HTML tag -->
                <p class="item-name">{{ item.name }}</p>
            </div>
            <div class="column valign-top">
                <p class="label">Quantity</p>
                <p class="quantity">{{ item.quantity }}</p>
            </div>
            <div class="column valign-middle">
                <button class="primary-btn" ng-click="inventoryCtrl.toggleModal(item.name, item.quantity)">Auction</button>
            </div>
        </li>
    </ul>
</div>
<span class="modal-message" ng-if="inventoryCtrl.auctionInProgress">{{ inventoryCtrl.item.name }} is currently in auction!</span>
<modal></modal>


